body {
    background-color:#0297bb;
}

#loginPanel{
    background-color:#53b7d0;
    padding-bottom: 20px;
}

#textLogin{
    padding: 20px 0px;
    font-family: 'Sansita Swashed', cursive;
    text-align: center;
}

#buttonGroup {
    padding-left: calc((100% - 200px) / 2 - 23px);
}

#buttonLogin {
    width: 120px;
    background-color: #0aa5ce;
}

#buttonRegistration {
    width: 120px;
    background-color: #0aa5ce;
}