.contentBox1 {
    padding: 10px 0 10px 20px;
    border: 1px solid #eaeaea;
    box-shadow: 3px 3px 10px #eaeaea;
    border-radius: 1rem;
    color: #fff;
    background-color: #0aa5ce;
}

.questionBox{
    display: inline-block;
    padding: 10px 20px 10px 20px;
    border: 1px solid #eaeaea;
    box-shadow: 1px 1px 3px #eaeaea;
    border-radius: 1rem;
    background-color: #0ACE96;
}