.bodyPage {
    background-color:#fff;
    font-family: 'Sansita Swashed', sans-serif;
}

.container {
    width: 1200px;
}

.content {
    margin-right: 0;
}

.topPart{
    height: 70px;
    background-color:#0aa5ce;
    border-radius: 1rem;
}
.topPart a{
    padding: 18px 20px 0 0;
    float: right;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.contentBlock1 {
    display: inline-block;
    width: 550px;
    height: auto;
    padding: 20px 0 0 0;
    margin-right: 25px;
}

.photo {
    height: 100%;
    width: 100%;
    background-size: cover;
}

.profile-pic-div {
    height: 200px;
    width: 200px;
    margin: 10px 150px 0 150px;
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid grey;
    box-shadow: 3px 3px 10px #eaeaea;
}

.hrPicBtns {
    width: 500px;
    margin-top: 230px;
}

.profile-btn-div {
    width: 500px;
    padding: 15px 0 15px 0;
    border: 1px solid #eaeaea;
    border-radius: 1rem;
    box-shadow: 3px 3px 10px #eaeaea;
    background-color: #0aa5ce;
}

.profile-btn-div h3 {
    text-align: center;
    color: #fff;
}

.profile-btn-div a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    color: #fff;
}


.contentBlock2 {
    display: inline-block;
    position: absolute;
    width: 600px;
    height: auto;
    margin-top: 70px;
    padding: 20px 0 0 0;
    border: 1px solid #eaeaea;
    border-radius: 1rem;
    box-shadow: 3px 3px 10px #eaeaea;
    color: #fff;
    background-color: #0aa5ce;
}

.hrQB {
    margin-left: 20px;
    margin-right: 20px;
}

.profileInfo {
    margin-left: 20px;
    margin-right: 20px;
}

.questionDescription {
    padding-left: 20px;
}

#file {
    display: none;
}

.uploadBtn {
    height: 50px;
    width: 200px;
    left: 0;
    top: 150px;
    bottom: 0;
    position: absolute;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    color: wheat;
    line-height: 30px;
    font-size: 15px;
    cursor: pointer;
}