<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap" rel="stylesheet">
    <link href="../static/css/login.css" th:href="@{/css/login.css}" rel="stylesheet">
</head>
<body>
    <div class="container-fluid" style="margin-top: 50px;">
        <div id="loginPanel" class="col-4 offset-4 mt-2">
            <div class="container-fluid">
                <div id="textLogin" class="h2 text-white">Login here</div>
            </div>
            <form action="/login" method="post" class="container-fluid col-8 offset-2">
                <input type="text" name="email" placeholder="Enter login:" class="col-12 mb-2">
                <input type="password" name="password" placeholder="Enter password:" class="col-12 mb-2">
                <div id="buttonGroup" class="container-fluid">
                    <button id="buttonLogin" type="submit" class="btn text-white">Login</button>
                    <a id="buttonRegistration" href="/registration" class="btn text-white">Registration</a>
                </div>
            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>