<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap" rel="stylesheet">
    <link href="../static/css/login.css" th:href="@{/css/main.css}" rel="stylesheet">
    <link href="../static/css/profile.css" th:href="@{/css/profile.css}" rel="stylesheet">
</head>
<body class="bodyPage">
<div class="container">
    <div class="content">
        <div class="topPart">
            <a href="/logout">выйти</a>
            <a href="/profile">profile</a>
            <a href="/main">so-project</a>
        </div>
        <hr>
        <div class="contentBox1">
            <div class="allQuestions">
                <h3>Все вопросы</h3>
                <div class="questionBox">
                    Первый вопрос
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>