<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href="../static/css/profile.css" th:href="@{/css/profile.css}" rel="stylesheet">
</head>
<body class="bodyPage">
<div class="container">
    <div class="content">
        <div class="topPart">
            <a href="/logout">Выйти</a>
            <a href="/main">so-project</a>
        </div>
        <div class="contentBlock1">
            <div class="profile-pic-div">
                <img src="img/1_1" class="photo">
                <input type="file" id="file" accept="image/png, image/jpeg">
                <label for="file" class="uploadBtn">Загрузите фото</label>
            </div>
            <hr class="hrPicBtns">
            <div class="profile-btn-div">
                <h3>Max</h3>
                <a href="#">Задать Вопрос</a>
                <a href="#">Поддержка</a>
                <a href="#">Настройки</a>
                <div>
                    <button class="btn" onclick="EditAndSave()">добавить</button>
                </div>
            </div>
        </div>
        <div class="contentBlock2">
            <div class="profileInfo">
                <div class="co-md-3">
                    <h5>Имя Фамилия</h5>
                </div>
                <div class="fullNamePlace" id="fullName">
                </div>
                <hr>
                <div class="birthDatePlace">
                    <h5>Дата Рождения</h5>
                </div>
                <div class="agePlace" id="age">
                </div>
                <hr>
                <div class="emailU">
                    <h5>Почта</h5>
                </div>
                <div class="emailUser" id="email">
                </div>
            </div>
            <hr class="hrQB">
            <div class="userQuestions">
                <h1 class="m-3">Recent Projects</h1>
                <div class="Box">
                    <div class="questionDescription">
                        <h5>Project name</h5>
                        <p>Project description</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
<script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script src="/js/profile.js"></script>
</body>